{% extends 'base.html' %} {%block title %}About us{%endblock%} {%block css%}
{%endblock%} {%block body%}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">About Us</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          
          
          <a class="mdl-navigation__link" href="/">Home</a>
          
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Hi,User</span>
      <nav class="mdl-navigation">
        
       
        <a class="mdl-navigation__link" href="/">Home</a>
       
      </nav>
    </div>
    <div class="container">
    <div class="row">
      <div class="col"><div class=row >
    <div class="card" style="width:20rem;">
    <img class="card-img-top" src="\static\images\shree.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SHREENIDHI</h5>
      <p class="card-text">RVCE student<br>Have interest in UI/Ux design.</p>
      <a href="#" class="btn btn-primary">Know more about me</a>
    </div>
  </div>
  <div class="card" style="width:20rem;">
    <img class="card-img-top" src="\static\images\dp.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SHIVRAJ</h5>
      <p class="card-text">RVCE student <br>front end enthusiatic</p>
      <a href="#" class="btn btn-primary">Know more about me</a>
    </div>
  </div></div>
      <div class="col"></div>
      <div class="w-100"></div>
    </div>
  </div>
    
  
    </div>
  </div>
  </div>
  </div><!-- Your content goes here --></div>
    </main>
  </div>
  </div>
welcome USer {%endblock%}