{% extends 'base.html' %} {%block title %}SignIn{%endblock%} {%block css%}
<style>
  * {
    text-align: center;
  }
</style>
{%endblock%} {%block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img
    src="/static/images/rvce.jpg"
    alt="rvce"
    class="navbar-brand"
    width="50px"
  />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link disabled" href="#"
          >Signin<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link bg-warning" href="/">Login</a>
      </li>
    </ul>
  </div>
</nav>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endfor %}
</ul>
{% endif %} {% endwith %}
<div class="container">
  <div class="row">
    <div class="col-sm col-4">
      <div class="card" style="width: 24rem">
        <div class="card-body">
          <h5 class="card-title">Signin</h5>
          <form method="POST" action="/signin">
            {{ form.csrf_token }}
            <div class="form-field">
              {{ form.name.label }} {{ form.name }} {% if form.name.errors %}
              <ul class="errors">
                {% for error in form.name.errors %}
                <div
                  class="alert alert-warning alert-dismissible fade show"
                  role="alert"
                >
                  <li>{{ error }}</li>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <br />
            <div class="form-field">
              {{ form.phno.label }} {{ form.phno }} {% if form.phno.errors %}
              <ul class="errors">
                {% for phno in form.phno.errors %}
                <div
                  class="alert alert-warning alert-dismissible fade show"
                  role="alert"
                >
                  <li>{{ error }}</li>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <br /><br />

            <div class="form-field">
              {{ form.email.label }} {{ form.email }} {% if form.email.errors %}
              <ul class="errors">
                {% for error in form.email.errors %}
                <div
                  class="alert alert-warning alert-dismissible fade show"
                  role="alert"
                >
                  <li>{{ error }}</li>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <br />
            <br />
            <div class="form-field">
              {{ form.password.label }} {{ form.password }} {% if
              form.password.errors %}
              <ul class="errors">
                {% for error in form.password.errors %}
                <div
                  class="alert alert-warning alert-dismissible fade show"
                  role="alert"
                >
                  <li>{{ error }}</li>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <br />
            {{ form.submit }}
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <img src="/static/images/movie_b.png" alt="" />
    </div>
  </div>
</div>

{%endblock%}
